
* {
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    border-radius: 20px;
    img {
        width: 100%;
        border-radius: 20px;
    }

    .card-body {
        padding: 1rem;
    }
    .card-footer{
        display: flex;
        justify-content: space-around;
        padding: 1rem;

        button {
            border: none;
            background: linear-gradient(45deg , #fd267a , #b68e83);
            color: white;
            padding: 0.5rem 2rem;
            cursor: pointer;
            border-radius: 2px;
            transition: all .3s;

            &:hover {
                background: linear-gradient(45deg , #ff6036 ,#fd267a );
            }
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100%/4) ;
    padding: 10px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .commentsList {
            margin-top: 1rem;
    }

    form {
        width: 100%;
    }
    input {
        border-radius: 50px;
        border: 1px solid #ccc;
        width: 100%;
        padding: 0.5rem ;
    }
}